<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hello</title>
    </head>
    <body>
        <div>
            <p>Aujourd'hui nous sommes le {{ "now" | date("m/d/Y") }}, </p>
            <h1>Bonjour {{ name | capitalize }} {{ firstname | capitalize }} !</h1>
        </div>
    </body>
</html>